#CAS
CAS

#LDAP data
data/LDAP/export_biat_iutmulhouse.txt
data/LDAP/export_ens_iutmulhouse.txt
data/LDAP/export_etu_iutmulhouse.txt
data/LDAP/liste_biat_iutmulhouse.txt
data/LDAP/liste_ens_iutmulhouse.txt
data/LDAP/liste_etu_iutmulhouse.txt
data/LDAP/vacataires.txt
data/LDAP/vacataires.json
data/LDAP/administrateurs.json
data/LDAP/_administrateurs.json

#Anciennes versions
html/saveV1
html/saveV2