#Listes issues de l'annuaire
data/annuaires/liste_biat.txt
data/annuaires/liste_ens.txt
data/annuaires/liste_etu.txt
data/annuaires/utilisateurs.json

#Anciennes versions
html/saveV1
html/saveV2

#Cookies
cookie.txt