*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	margin:0;
	font-family:arial;
	background: #FAFAFA;
}
header{
	position:sticky;
	top:0;
	padding:10px;
	background:#09C;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	color:#FFF;
	box-shadow: 0 2px 2px #888;
	z-index:100;
}
header a{
	color: #FFF;
	text-decoration: none;
	padding: 10px 0 10px 0;
}
header svg{
	display: none;
}
nav{
	display: flex;
	gap: 16px;
}
.nav{
	display: none;
}
.personnel .nav{
	background: #FFF;
	color: #424242;
	padding: 8px 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
}
.personnel .nav:hover{
	background: #0c9;
	color: #FFF;
}
.personnel .navActif{
	background: #0c9;
	color: #FFF;
}
h1{
	margin:0 auto 0 0;
}
@media screen and (max-width: 1000px) {
	h1{
		margin-left: 64px;
		transition: 0.2s;
	}
	header svg{
		display: block;
		cursor: pointer;
		position: absolute;
		left: 100%;
		top: 8px;
		margin-left: 16px;
	}
	nav{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background: #09C;
		flex-direction: column;
		padding: 16px 32px;
		transform: translateX(-100%);
		transition: 0.2s;
	}
	.ouvert{
		z-index:10;
	}
	.ouvert h1{
		color: transparent;
	}
	.ouvert nav{
		transform: translateX(0);
	}
	line{
		transition: 0.2s;
		transform-box: fill-box;
	}
	.ouvert svg line:nth-child(1){transform: translate(0, -3.5px) rotate(45deg);}
	.ouvert svg line:nth-child(2){opacity: 0;}
	.ouvert svg line:nth-child(3){transform: translate(0, 3.5px) rotate(-45deg);}
}
h2{
	margin: 20px 0 0 0;
	padding: 20px;
	background: #0C9;
	color: #FFF;
	border-radius: 10px;
	cursor: pointer;
}
main{
	padding:0 10px;
	margin-bottom: 64px;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 32px;
}
.nom{
	text-transform: capitalize;
	color:#de2a1c;
}

.wait{
	position: fixed;
	width: 50px;
	height: 10px;
	background: #424242;
	top: 80px;
	left: 50%;
	margin-left: -25px;
	animation: wait 0.6s ease-out alternate infinite;
}
@keyframes wait{
	100%{transform: translateY(-30px) rotate(360deg)}
}

.auth{
	position: fixed;
	top: 58px;
	left: 0;
	right: 0;
	bottom: 0;
	background: #FAFAFA;
	font-size: 28px;
	padding: 28px 10px 0 10px;
	text-align: center;
	transition: 0.4s;
	z-index: 100;
	overflow: auto;
}

#admin{
	display: none;
}