:host{
	--couleur-principale: #09c;
	font-family: arial;
}
.parcours{
	display: flex;
	gap: 4px;
}
.parcours>div{
	background: var(--couleur-principale);
	color: #FFF;
	text-align: center;
	border-radius: 4px;
	padding: 8px 16px;
	cursor: pointer;
	flex: 1;
	transition: 0.1s;
}
.parcours>div:hover{
	color: #424242;
}
.competences{
	display: flex;
}