/************/
/* Etudiant */
/************/
.info_etudiant{
	color: var(--contenu);
	text-decoration: none;
}
.etudiant{
	background: var(--secondaire);
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--secondaire-contenu);
	padding: 4px;
	border-radius: 8px;
	margin: 16px 10px 0 10px;
}
.civilite{
    font-weight: bold;
    font-size: 130%;
}
img{
	border-radius: 8px;;
}

/************************/
/* Zone relevé de notes */
/************************/
.releve button, .button{
	border-radius: 5px;
	border: none;
	margin: 10px;
	padding: 10px;
	display: table;
	box-shadow: 0 0 4px #000;
	background: var(--fond-clair);
	color: var(--contenu);
	text-decoration: none;
	cursor: pointer;
}
.total{
	font-size: 24px;
	margin: 10px;
	text-align: center;
}
.total>span{
	font-size: 18px;
	opacity: 0.6;
}
.ue, .module{
	border-radius: 10px;
	padding: 10px 20px;
	margin: 10px;
	box-shadow: var(--box-shadow);
}
.ue{
	background: var(--primaire);
	color: var(--primaire-contenu);
	display: flex;
	justify-content: space-between;
	gap: 10px;
	cursor: pointer;
}
.ue>div:nth-child(1){
	max-width: 50%;
	display: -webkit-box;
	  -webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.ue>div:nth-child(2){
	font-weight: bold;
	text-align: right;
}
.module{
	background: var(--fond-clair);
	margin-left: 30px;
}
.module>div, .eval{
	display: flex;
	justify-content: space-between;
	gap: 15px;
}
.module>div>div:nth-child(2){
	text-align: right;
}
.module>div>div>span{
	opacity: 0.6;
}
.coef{
	font-style: italic;
	opacity: 0.6;
	display: block;
}
.eval .coef{
	display:inline-block;
	width: 65px;
	text-align: left;
}
.eval{
	padding: 5px;
	background: var(--releve-fond-titre-ue);
	margin-top: 2px;
	border-radius: 5px;
}
.eval:nth-child(odd){
	background: var(--releve-principale);
}
.eval>div:nth-child(2){
	flex-shrink:0;
}

.checked, [data-note=undefined], [data-note=NP]{
	background: var(--fond);
	
}
.checked:nth-child(odd), [data-note=undefined]:nth-child(odd), [data-note=NP]:nth-child(odd){
	background: var(--fond);
}
.hide{
	display: none;
}
main:not(.ShowEmpty) [data-note=undefined], 
main:not(.ShowEmpty) [data-note=NP], 
main:not(.ShowEmpty) [data-note=EXC]{
	display: none !important;
}
.ShowEmpty .button{
	background: var(--secondaire);
	color: var(--secondaire-contenu);
}