main{
	--couleurPrincipale: var(--primaire);
    --couleurFondTitresUE: var(--primaire);
    --couleurFondTitresRes: var(--releve-fond-titre-res);
    --couleurFondTitresSAE: var(--releve-fond-titre-sae);
    --couleurSecondaire: var(--secondaire);
    --couleurIntense: var(--accent);
    --couleurSurlignage: var(--accent);
}
.info_etudiant, .ue, .module{
	color: var(--contenu-inverse);
}
.module>div{
	display: none;
}
.sae .module{
	color: var(--fond-inverse);
}
.sae .module::before {
    /* Passer le glyphe SVG du blanc au noir en utilisant le filtre inverser */
    filter: invert(1);
}
.eval:hover, .syntheseModule:hover{
    color: var(--contenu-inverse);
}
.dateInscription{
	display: none;
}
.ue a{
	display: none;
}