main{
	--couleurPrincipale: #09c;
    --couleurFondTitresUE: #09c;
    --couleurFondTitresRes: rgb(125, 170, 255);
    --couleurFondTitresSAE: #ffc828;
    --couleurSecondaire: #00be82;
    --couleurIntense: #c09;
    --couleurSurlignage: #c09;
}
.info_etudiant, .ue, .module{
	color: #FFF;
}
.module>div{
	display: none;
}
.sae .module{
	color: #1e1e1e;
}
.sae .module::before {
    /* Passer le glyphe SVG du blanc au noir en utilisant le filtre inverser */
    filter: invert(1);
}
.eval:hover, .syntheseModule:hover{
    color: #FFF;
}
.dateInscription{
	display: none;
}
.ue a{
	display: none;
}